.documentation > a {
  color:var(--sg1);
}
.documentation > a:hover {
  color:var(--b1);
}
.documentation > a > h2 {
  cursor: pointer !important;
  display:inline-block;
}
.documentation > a:hover::before,.documentation > a::before {
  height:0px;
}