.featured-news-wrapper {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}
.recent-news-wrapper {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}
.content-wrapper {
  width:-webkit-calc(100% - 40px);
  width:calc(100% - 40px);
  margin-left: 20px;
}
.news-wrapper {
  margin:1rem;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow:0 6px 14px rgba(61, 75, 100, 0.3);
  box-shadow:0 6px 14px rgba(61, 75, 100, 0.3);
}
.news-title {
  font-size:1.4rem;
  text-align: center;
  font-weight:500;
  color:var(--white);
  z-index:2;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
  position: relative;
}
.news-bottom {
  height:100px;
  background-color:var(--white);
}
.news-content {
  position: relative;
  z-index: 2;
}
.news-box {
  padding:2rem;
  height:250px;
    width:355px;
  -webkit-border-top-left-radius:0.25rem;
  border-top-left-radius:0.25rem;
  -webkit-border-top-right-radius:0.25rem;
  border-top-right-radius:0.25rem;
  -webkit-background-size:cover !important;
  background-size:cover !important;
}
.news-wrapper:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.news-date, .news-desc {
  color:var(--sg1);
  position: relative;
  background-color:var(--white);
  padding:1rem;
  padding-right:2rem;
  padding-left:2rem;
  z-index: 3;
  width:355px;
}
.news-date {
  z-index:2;
  -webkit-border-bottom-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  -webkit-border-bottom-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
#title {
  margin-left: 10%;
}
@media only screen and (max-width:991px) {
  .content-wrapper {
    width:100%;
    margin-left: 0px;
  }
  #title {
    margin-left: 0;
  }
}
@media only screen and (max-width:500px) {
  .news-box {
    width:100%;
  }
  .news-date, .news-desc {
    width:100%;
  }
}